Repository AtieP/FutureDOS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AtieP, @midn1, @StaticSaga

.github/CODEOWNERS:

apps/terminal.asm @AtieP
apps/loadmz.asm @midn1

src/boot/boot.asm @AtieP @StaticSaga

docs/ @AtieP
src/kernel/ @AtieP

splash.cga @midn1

Imagine committing tests - this post was made by Atie gang
  apps/terminal.asm
Owners: @AtieP

Add better binary file execute and fix that problem
  apps/terminal.asm
Owners: @AtieP

Add better binary file execution and fix stack problem
  apps/terminal.asm
Owners: @AtieP

Fix error printing
  apps/loadmz.asm
Owners: @midn1

Fix spaces
  apps/loadmz.asm
Owners: @midn1

Fix issue where users can execute a command that actually doesn't exist
  apps/terminal.asm
Owners: @AtieP

Avoid kernel being able to be executed as an application
  src/kernel/kernel.asm
Owners: @AtieP

Less primitive argument parsing for loadmz.
  apps/loadmz.asm
Owners: @midn1

Fancier argv check
  apps/loadmz.asm
Owners: @midn1

Remove unnecessary SI increase
  apps/loadmz.asm
Owners: @midn1

Ahh, formatting errors. Yeah. That kind of thing when you indent using 4 spaces in a file that is indented with tabs.
  apps/loadmz.asm
Owners: @midn1

Include forgotten syscalls into the index
  docs/syscall.md
Owners: @AtieP

Add .bochsrc on the .gitignore
  .gitignore
Owners: none

Fix C:/> to </>
  apps/terminal.asm
Owners: @AtieP

Added 'clear' command
  apps/terminal.asm
Owners: @AtieP

Working on 'sysfetch' command that shows information about operating system. Example: OS Name: FutureDOS\nOS Version: 0.0.0...
  apps/terminal.asm
Owners: @AtieP

Fixed forgotten thing
  apps/terminal.asm
Owners: @AtieP

Understanding filesystem with '/docs/filesystem.txt'
  docs/filesystem.txt
Owners: @AtieP

Add fs_filename_to_fat_filename
  docs/syscall.md
  src/kernel/isr/isrFD.asm
  src/kernel/lib/filesystem.asm
Owners: @AtieP

Add better input
  apps/terminal.asm
Owners: @AtieP

Docs were broken
  docs/syscall.md
Owners: @AtieP

Fix a fix
  docs/syscall.md
Owners: @AtieP

Fix a fix of a fix
  docs/syscall.md
Owners: @AtieP

Add better filename support
  apps/loadmz.asm
Owners: @midn1

Rewrite ls/dir command
  apps/terminal.asm
Owners: @AtieP

Do not recognize a single ENTER as an error
  apps/terminal.asm
Owners: @AtieP

Show file size in ls/dir command
  apps/terminal.asm
Owners: @AtieP

Print attributes as strings rather than acronyms
  apps/terminal.asm
Owners: @AtieP

fs_load_file shouldn't open Volume IDs and folders directly
  docs/syscall.md
  src/kernel/lib/filesystem.asm
Owners: @AtieP

Add --all parameter for ls/dir
  apps/terminal.asm
Owners: @AtieP

ATIE PLEASE DO NOT TEST IN PRODUCTION. THANKS.
  apps/terminal.asm
Owners: @AtieP

Add terminal documentation
  docs/terminal.md
Owners: @AtieP

Added restart and reboot commands. /apps/terminal.asm Tested and working. /docs/terminal.md Updated.
  apps/terminal.asm
  docs/terminal.md
Owners: @AtieP

Update terminal.asm
  apps/terminal.asm
Owners: @AtieP

Update terminal.md
  docs/terminal.md
Owners: @AtieP

Added poweroff, shutdown and exit command. /apps/terminal.asm Tested and working. /docs/terminal.md Updated.
  apps/terminal.asm
  docs/terminal.md
Owners: @AtieP

Remap PIC
  src/kernel/drivers/pic.asm
  src/kernel/kernel.asm
Owners: @AtieP

Fix bruh moment (exit with error code even if it's success
  src/kernel/lib/filesystem.asm
Owners: @AtieP

Add display command
  apps/terminal.asm
  docs/terminal.md
Owners: @AtieP

Initial commit of rewrite branch
  Makefile
  src/boot/boot.asm
  src/kernel/devices/cga.asm
  src/kernel/devices/ps2.asm
  src/kernel/kernel.asm
  src/kernel/sys/pic.asm
Owners: @AtieP, @StaticSaga
